* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
:root {
    --bright-green: #77e03a;
    --light-green: #e5efac;
    --salmon: #f88f55;
    --red: #f8002f;
    --black: #000c14;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--red);
}
body {
    background-color: var(--salmon);
}
a {
    margin-left: 10px;
}
i {
    font-size: 3rem;
    color: white;
}
h1 {
    padding-top: 10px;
    margin: 0 10px 10px 10px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: var(--salmon);
}
.keyboard-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 320px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: center;
}
button {
    margin: 0 3px 3px 0;
    width: 30px;
    height: 30px;
    background-color: var(--black);
    border-radius: 5px;
    color: white;
}
.secret-word-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.secret-word {
    font-size: 3rem;
    color: var(--black);
}
.counter-button-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.counter-button-container .button {
    width: 35px;
    height: 35px;
    background-color: var(--red);
    border-radius: 0 5px 5px 0;
    border: var(--red);
}
.button i {
    font-size: 2rem;
    color: white;
}
.counter-button-container .counter-container {
    height: 35px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    color: var(--red);
    background-color: white;
    border: 2px solid var(--red);
}
.counter-button-container .counter {
    font-size: 3rem;
    font-weight: 500;
}
.image-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
i:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
}